

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# ide variables directory
.vscode

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store



